body{
    font-family: Tahoma;
    background-image: url(imageforassdom.jpg);
    background-size: 100%;
}

#form{
    background-color: rgba(0,0,0,0.5);
    width: 230px;
    color: #fff;
    margin: 100px auto 0 auto;
    text-align: center;
    border: 2px solid #000;
    height: 300px;
    border-radius: 16px;
    padding: 14px;
    font-weight: 700;
    box-shadow: -2px 2px 15px #000;
}

p,h1{
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black;
}

input{
    width: 196px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 8px;
    box-shadow: inset -2px 2px 10px #6d6d69;
    font-size: 18px;
    font-weight: 400;
}
