body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #box {
    width: 20rem;
    background-color: rgba(23, 18, 16, 0.91);
    cursor: pointer;
    color: rgb(226, 163, 218);
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 460;
  }